Repository PrimeDAO/prime-deals-dapp, pull requests merged in 2022-03, with the labels that each got.

#305 Fix/added token details based on wizard type
  src/entities/DealRegistrationTokenSwap.ts
  src/wizards/tokenSwapDealWizard/stages/tokenDetailsStage/tokenDetailsStage.ts
Labels: Registration Wizard

#306 preserving terms stage clauses view mode
  src/resources/elements/editingCard/editingCard.ts
  src/wizards/tokenSwapDealWizard/stages/termsStage/termClause/termClause.html
  src/wizards/tokenSwapDealWizard/stages/termsStage/termClause/termClause.ts
  src/wizards/tokenSwapDealWizard/stages/termsStage/termsStage.html
  src/wizards/tokenSwapDealWizard/stages/termsStage/termsStage.ts
Labels: Registration Wizard

#303 #300 (#260) Discussions: Connect link should prompt a connect wallet pop up
  src/dealDashboard/discussionsList/discussionsList.html
Labels: Discussions

#308 styles(terms): increase specificity
  src/resources/elements/editingCard/editingCard.scss
  src/wizards/tokenSwapDealWizard/stages/termsStage/termClause/termClause.scss
Labels: Registration Wizard

#304 Fix/submit stage etherscanlink
  src/resources/elements/primeDesignSystem/ptooltip/ptooltip.ts
  src/wizards/tokenSwapDealWizard/stages/submitStage/daoInformation/daoInformation.html
  src/wizards/tokenSwapDealWizard/stages/submitStage/submitStage.html
  src/wizards/tokenSwapDealWizard/stages/submitStage/submitStage.scss
Labels: Registration Wizard

#316 fix(wizard): set default address for "Connect to submit" to show up correctly
  src/wizards/tokenSwapDealWizard/components/stageButtons/stageButtons.ts
Labels: Registration Wizard

#325 feat(tokenDetails): update error message
  src/wizards/tokenSwapDealWizard/stages/tokenDetailsStage/tokenDetailsStage.html
Labels: Registration Wizard

#323 fix(tokenDetails): address now uses etherscanlink
  src/wizards/tokenSwapDealWizard/components/tokenDetails/tokenDetails.html
Labels: Registration Wizard

#331 #319 - Removed the `edit` button from the comment view
  src/dealDashboard/discussionThread/singleComment/singleComment.html
Labels: Discussions

#330 #318 - 'Time Passed' should show `<1min` instead of seconds and update constantly.
  src/dealDashboard/discussionThread/singleComment/singleComment.html
  src/dealDashboard/discussionThread/singleComment/singleComment.ts
  src/dealDashboard/discussionsList/discussionsList.html
  src/dealDashboard/discussionsList/discussionsList.ts
  src/dealDashboard/discussionsService.ts
  src/services/CeramicServiceMock.ts
  src/services/DateService.ts
Labels: Discussions

#307 Chore/lint cypress
  cypress/fixtures/example.json
  cypress/integration/features/dealDashboard/no-discussions-in-list.feature
  cypress/integration/features/deals/open-proposal/stage1.feature
  cypress/integration/features/deals/open-proposal/stage2.feature
  cypress/integration/features/deals/partnered-deal/partner-dao.feature
  cypress/integration/features/deals/partnered-deal/primary-dao.feature
  cypress/integration/features/deals/partnered-deal/stage1.feature
  cypress/integration/features/deals/partnered-deal/stage2.feature
  cypress/integration/tests/dealDashboard/no-discussions-in-list.e2e.ts
  cypress/integration/tests/deals/choose-deal-type.e2e.ts
  cypress/integration/tests/deals/deals.e2e.ts
  cypress/integration/tests/deals/partnered-deal.2e2.ts
  package.json
Labels: e2e

#320 fix(tokenDetails): only add default, when there is non
  src/wizards/tokenSwapDealWizard/stages/tokenDetailsStage/tokenDetailsStage.ts
Labels: Registration Wizard

#328 Clauses and Tokens should not show Delete button when there is only one
  src/resources/elements/editingCard/editingCard.html
  src/resources/elements/editingCard/editingCard.ts
  src/wizards/tokenSwapDealWizard/components/tokenDetails/tokenDetails.html
  src/wizards/tokenSwapDealWizard/components/tokenDetails/tokenDetails.scss
  src/wizards/tokenSwapDealWizard/components/tokenDetails/tokenDetails.ts
  src/wizards/tokenSwapDealWizard/stages/termsStage/termClause/termClause.html
  src/wizards/tokenSwapDealWizard/stages/termsStage/termClause/termClause.ts
  src/wizards/tokenSwapDealWizard/stages/termsStage/termsStage.html
  src/wizards/tokenSwapDealWizard/stages/termsStage/termsStage.ts
  src/wizards/tokenSwapDealWizard/stages/tokenDetailsStage/tokenDetailsStage.html
Labels: Registration Wizard

#334 #329 - Make an offer wizard should add Token form, if non present
  src/wizards/tokenSwapDealWizard/stages/tokenDetailsStage/tokenDetailsStage.ts
Labels: Registration Wizard

#389 383 discussion thread always shows is private when not connected
  src/dealDashboard/dealDashboard.html
  src/dealDashboard/dealDiscussion/dealDiscussion.html
  src/dealDashboard/dealDiscussion/dealDiscussion.ts
  src/dealDashboard/dealDiscussion/discussionThread/discussionThread.html
  src/dealDashboard/dealDiscussion/discussionThread/discussionThread.ts
  src/services/CeramicServiceMock.ts
Labels: Discussions

#396 #386 - Deal information
  cypress/integration/common/deal-wizard.ts
  cypress/integration/common/mobile.ts
  cypress/integration/features/dealDashboard/deal-description-mobile.feature
  cypress/integration/features/dealDashboard/deal-description.feature
  cypress/integration/tests/dealDashboard/deal-description.e2e.ts
  cypress/integration/tests/deals/submit-stage.e2e.ts
  src/dealDashboard/dealDashboard.html
  src/dealDashboard/dealDescription/dealDescription.html
  src/dealDashboard/dealDescription/dealDescription.scss
  src/dealDashboard/dealDescription/dealDescription.ts
  src/resources/elements/primeDesignSystem/_variables.scss
  src/services/MobileService.ts
Labels: Deal Dashboard

#397 #394 - fix(submit): add dao names
  src/wizards/tokenSwapDealWizard/stages/submitStage/daoInformation/daoInformation.html
Labels: Registration Wizard

#415 E2e/fix failing tests
  cypress/integration/common/dao-stage.ts
  cypress/integration/features/deals/all-deals/view-all-deals.feature
  cypress/integration/features/deals/open-proposal/primary-dao.feature
  cypress/integration/features/deals/partnered-deal/partner-dao.feature
  cypress/integration/features/deals/partnered-deal/primary-dao.feature
  cypress/integration/features/deals/partnered-deal/stage1.feature
  cypress/integration/features/deals/partnered-deal/stage2.feature
  cypress/integration/tests/all-deals/view-all-deals.e2e.ts
  cypress/integration/tests/dealDashboard/no-discussions-in-list.e2e.ts
  cypress/integration/tests/deals/primary-dao.e2e.ts
  cypress/integration/tests/deals/terms.e2e.ts
Labels: Automated Tests

#419 411- Begin a new discussion button fails in creating a new discussion
  src/dealDashboard/dealClauses/dealClauses.html
  src/dealDashboard/dealClauses/dealClauses.scss
  src/dealDashboard/dealClauses/dealClauses.ts
  src/dealDashboard/dealDashboard.html
  src/dealDashboard/dealDashboard.ts
  src/dealDashboard/dealDiscussion/dealDiscussion.ts
  src/dealDashboard/dealDiscussion/discussionThread/discussionThread.html
  src/dealDashboard/dealDiscussion/discussionThread/discussionThread.scss
  src/dealDashboard/dealDiscussion/discussionThread/discussionThread.ts
  src/dealDashboard/dealDiscussion/discussionThread/singleComment/singleComment.html
  src/dealDashboard/dealDiscussion/discussionThread/singleComment/singleComment.scss
  src/dealDashboard/dealDiscussion/discussionsList/discussionsList.html
  src/dealDashboard/dealDiscussion/discussionsList/discussionsList.scss
  src/dealDashboard/dealDiscussion/discussionsList/discussionsList.ts
  src/dealDashboard/discussionsService.ts
  src/entities/DealDiscussions.ts
  src/services/CeramicServiceMock.ts
Labels: Bug

#481 E2e - mock wallet
  cypress/fixtures/dealFixtures.ts
  cypress/integration/features/wallet.feature
  cypress/integration/tests/wallet.e2e.ts
  cypress/tsconfig.json
  src/main.ts
  src/services/EthereumServiceTesting.ts
Labels: Automated Tests
