Repository PrimeDAO/prime-deals-dapp, pull requests merged in 2022-01, with the labels that each got.

#62 Chore: Add Cypress (automated testing)
  cypress.json
  cypress/.eslintrc.json
  cypress/fixtures/example.json
  cypress/integration/app.e2e.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  package-lock.json
  package.json
Labels: e2e

#63 Init e2e tests
  .vscode/extensions.json
  .vscode/settings.json
  cypress/README.md
  cypress/integration/app.e2e.ts
  cypress/integration/common/navigate.ts
  cypress/integration/features/deals/choose-deal-type.feature
  cypress/integration/features/home/landing-page.feature
  cypress/integration/tests/deals/deals.e2e.ts
  cypress/integration/tests/home/landing-page/landing-page.e2e.ts
  src/home/home.html
  test/README.md
Labels: e2e

#74 Chore: Add cypress run command
  .gitignore
  cypress.json
  cypress/README.md
  package.json
Labels: chore

#87 added the ptoggle component
  src/resources/elements/primeDesignSystem/demos/demos.ts
  src/resources/elements/primeDesignSystem/demos/pToggleDemo.html
  src/resources/elements/primeDesignSystem/index.ts
  src/resources/elements/primeDesignSystem/ptoggle/ptoggle.html
  src/resources/elements/primeDesignSystem/ptoggle/ptoggle.scss
  src/resources/elements/primeDesignSystem/ptoggle/ptoggle.ts
Labels: design-system
